
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor_texto: #ffffff;
    --bg_cor: #051e33;
    --card_cor: #082946;
    --cor-container: #0d3b66;
    --cor-botao: #2684d1;
    --cor-botao-hover: #1a5d9a;
    --cor-excluir: #e0a80b;
    --cor-excluir-hover: #eb0b03;
}

body {
    background-color: var(--card_cor);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1vw;
    font-family: 'Poppins', sans-serif;
}

#spinner{
    display: flex;
    background-color: var(--cor-container);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100000;
    justify-content: center;
    align-items: center;
    color: var(--cor_texto);
}

.header{
    display: flex;
    position: fixed;
    background-color: var(--bg_cor);
    align-items: center;
    justify-content: space-around;
    gap: 60vw;
    padding: 1vw;
    z-index: 100;
    top: 0;
    width: 100vw;



    & button{
        background-color: var(--cor-botao);
        color: var(--cor_texto);
        height: 2.5vw;
        border: none;
        border-radius: 0.5vw;
        padding: 0.4vw 1vw;
        cursor: pointer;
    }

    & .btns_eventos{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    #meus_eventos{
        background-color: rgb(5, 166, 206);
    }

}

.modal{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    top: -2vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10000;
}

.modal-titulo{
    width: 38vw;
    height: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & button{
        background-color: transparent;
        font-size: 2vw;
        border: none;
        color: var(--cor_texto);
        padding: 0.4vw 0.6vw;
        border-radius: 50%;
        cursor: pointer;
    }
}

form{
    background-color: var(--card_cor);
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1vw;
    align-items: center;
    border-radius: 0.5vw;
    color: var(--cor_texto);
}

#btn_agendar{
    background-color: var(--cor-botao);
    border: none;
    font-size: 1.2vw;
    padding: 0.3vw 3vw;
    color: var(--cor_texto);
    border-radius: 0.3vw;
    cursor: pointer;
}

.subcontainer1, .subcontainer2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    background-color: var(--cor-botao-hover);
    border-radius: 0.5vw;
    text-align: center;
    width: 90%;
    padding: 0.5vw;
    margin: 0;
}

.sala select{
    background-color: var(--cor-container);
    color: var(--cor_texto);
    border: 1px solid #fff;
    padding: 0.3vw;
    border-radius: 0.3vw;
    text-align: center;
    min-width: 16vw;
}

.data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-botao-hover);
    border-radius: 0.5vw;
    text-align: center;
    width: 90%;
    padding: 0.5vw;
    margin: 0;
}

.hora_inicio input, 
.data input,
.titulo input,
.hora_fim input {
    background-color: var(--cor-container);
    color: var(--cor_texto);
    border: 1px solid #fff;
    padding: 0.3vw;
    border-radius: 0.3vw;
    text-align: center;
    min-width: 16vw;
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.fc-scrollgrid-sync-inner{
    color: var(--cor_texto);
    background-color: var(--bg_cor);
}

#ano-completo {
    display: flex;
    padding: 1vw;
    width: 95vw;
    max-width: 90vw;
    height: 90vh;
    margin-top: 5vw;
    background-color: var(--cor-botao-hover);
    border-radius: 0.5vw;
}


h2{
    color: var(--cor_texto);
}

table {
    padding: 1vw;
    height: 100%;
    background-color: var(--card_cor);
    border-radius: 0.5vw;
}

thead {
    font-size: 1.5vw;
    background-color: var(--cor-botao);
}

.fc-toolbar.fc-header-toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fc-toolbar-chunk {
    flex: 1;
}

.fc-toolbar-title {
    text-align: center;
}

.fc-button-group {
    justify-content: flex-end;
}

.fc-timegrid-axis{
    background-color: var(--bg_cor);
}

.fc .fc-daygrid-day-frame {
    height: 7vw;
    overflow-y: scroll;
    padding-bottom: 0.2vw;
    background-color: var(--cor_texto);
    color: var(--cor-botao);
    font-size: 1vw;
}

.fc-day-today {
    border: 2px solid var(--cor-botao) !important;
}


.fc-daygrid-event-dot {
    border: 0.5vw solid;
}


.fc .fc-button {
    background-color: var(--cor-botao);
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0 2px;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.fc .fc-button:hover {
    background-color: var(--cor-container);
}

.fc .fc-button:disabled {
    background-color: var(--card_cor);
    cursor: not-allowed;
}

.fc-toolbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.fc-scroller::-webkit-scrollbar {
    display: none;
}

.fc-daygrid-event {
    font-size: 0.85rem;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: transparent;
    color: var(--cor-botao-hover);
}

.fc-daygrid-event:hover {
    background-color: var(--cor-botao);
    color: var(--cor_texto);
}

.fc-event {
    cursor: pointer;
}


.fc-timegrid-slot-lane {
    background-color: var(--cor_texto);
}

tbody tr {
    line-height: 2vw;
}

.fc-list-table {
    background-color: var(--cor_texto);
    color: var(--cor-botao);
}

.fc-list-event-dot {
    width: 0.5vw !important;
}

.fc-theme-standard .fc-list-day-cushion {
    background-color: var(--cor_texto);
}

.fc-daygrid-day-frame::-webkit-scrollbar {
    display: none;
}


/* .fc-scrollgrid-sync-table{
    display: none;
} */
/* ------------------------------- */
/* LEGENDA EVENTOS */

#legenda-eventos{
    /* position: fixed; */
    z-index: 1000;
    width: 95vw;
    /* top: -2vw; */
    border-radius: 0.5vw;
    font-weight: bold;
    padding: 1vw;
    background-color: var(--cor_texto);
    color: var(--cor-botao);

}

