
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor_texto: #ffffff;
    --bg_cor: #051e33;
    --card_cor: #082946;
    --cor-container: #0d3b66;
    --cor-botao: #2684d1;
    --cor-botao-hover: #1a5d9a;
    --cor-excluir: #e0a80b;
    --cor-excluir-hover: #eb0b03;
}

body {
    background-color: var(--card_cor);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5vw;
    font-family: 'Poppins', sans-serif;
}

#spinner{
    display: flex;
    background-color: var(--cor-container);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100000;
    justify-content: center;
    align-items: center;
    color: var(--cor_texto);
}

.header{
    display: flex;
    position: fixed;
    background-color: var(--bg_cor);
    align-items: center;
    justify-content: space-around;
    gap: 60vw;
    padding: 1vw;
    z-index: 100;
    top: 0;
    width: 100vw;

    & button{
        background-color: var(--cor-botao);
        color: var(--cor_texto);
        height: 2.5vw;
        border: none;
        border-radius: 0.5vw;
        padding: 0.4vw 1vw;
        cursor: pointer;
    }

    & .btns_eventos{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    #meus_eventos{
        background-color: rgb(5, 166, 206);
    }

}

.modal{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    top: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10000;
}

.modal-titulo{
    width: 38vw;
    height: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & button{
        background-color: red;
        font-size: 1vw;
        border: none;
        color: var(--cor_texto);
        padding: 0.4vw 0.6vw;
        border-radius: 50%;
        cursor: pointer;
    }
}

form{
    background-color: var(--card_cor);
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1vw;
    align-items: center;
    border-radius: 0.5vw;
    color: var(--cor_texto);
}

#btn_agendar{
    background-color: var(--cor-botao);
    border: none;
    font-size: 1.2vw;
    padding: 0.3vw 3vw;
    color: var(--cor_texto);
    border-radius: 0.3vw;
    cursor: pointer;
}

.subcontainer1, .subcontainer2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    background-color: var(--cor-botao-hover);
    border-radius: 0.5vw;
    text-align: center;
    width: 90%;
    padding: 0.5vw;
    margin: 0;
}

.sala select{
    background-color: var(--cor-container);
    color: var(--cor_texto);
    border: 1px solid #fff;
    padding: 0.3vw;
    border-radius: 0.3vw;
    text-align: center;
    min-width: 16vw;
}

.data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-botao-hover);
    border-radius: 0.5vw;
    text-align: center;
    width: 90%;
    padding: 0.5vw;
    margin: 0;
}

.hora_inicio input, 
.data input,
.titulo input,
.hora_fim input {
    background-color: var(--cor-container);
    color: var(--cor_texto);
    border: 1px solid #fff;
    padding: 0.3vw;
    border-radius: 0.3vw;
    text-align: center;
    min-width: 16vw;
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}



#ano-completo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    padding: 1vw;
    width: 100%;
    max-width: 1600px;
    margin-top: 5vw;
    background-color: var(--cor-botao-hover);
    border-radius: 0.5vw;
}


h1{
    color: var(--cor_texto);
}


.fc {
    background-color: var(--card_cor);
    color: var(--bg_cor);
    border-radius: 10px;
    padding: 1rem;
}


.fc-daygrid-day {
    background-color: var(--cor_texto);
    border: 1px solid rgba(255, 255, 255, 0.1);
}


.fc-toolbar-title,
.fc-col-header-cell-cushion {
    color: var(--cor_texto);
}

.fc-day-today {
    background-color: rgba(255, 255, 255, 0.05) !important;
}


.fc-event {
    border: none;
    font-size: 0.9vw;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
}

.fc-view-harness {
    min-height: 30vw !important;
    background-color: var(--cor-botao);
}

.fc-daygrid-event-dot{
    border: 0.5vw solid;
}

.fc-daygrid-day-frame{
    height: 5vw;
    overflow-y: scroll;
}

.fc-daygrid-day-frame::-webkit-scrollbar{
    display: none;
}

#btn-voltar {
    background-color: var(--cor-botao);
    padding: 0.5vw;
    margin: 1vw 0;
    border-radius: 0.5vw;
    color: var(--cor_texto);
    cursor: pointer;
    min-width: 10vw;
    transition: background 0.3s ease-in-out;
}

/* ------------------------------- */
/* LEGENDA EVENTOS */

#legenda-eventos{
    /* position: fixed; */
    z-index: 1000;
    width: 95vw;
    /* top: -2vw; */
    border-radius: 0.5vw;
    font-weight: bold;
    padding: 1vw;
    background-color: var(--cor_texto);
    color: var(--cor-botao);

}

