
:root{
    --cor-bg: #0294b8;
    --cor-texto: #ffffff;
    --cor-container: #061233;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0B2D56;
    height: 100vh;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    z-index: 1;
}

img{
    width: 150px;
}

.label-logo{
    color: var(--cor-texto);
    margin: 1vw;
    font-weight: bold;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vw;
    border-radius: 5px;
    align-items: center;
    background-color: var(--cor-container);
    height: 40vh;
    width: 20vw;
    opacity: 0.9;
}

#loginForm{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

input{
    margin: 1vw;
    width: 100%;
    outline: none;
    height: 1.5vw;
    border-radius: 2px;
    border: none;
    color: var(--cor-container);
    font-weight: bold;
    font-size: 0.9vw;
    
}

label{
    color: var(--cor-texto);
    font-weight: 300;
    font-size: 1vw;
}

#message{
    color: var(--cor-texto);
    margin-top: 1vw;
}

button{
    margin-top: 1vw;
    width: 100%;
    height: 35px;
    color: var(--cor-texto);
    border: none;
    background-color: var(--cor-bg);
    border-radius: 2px;
    cursor: pointer;
    
}

#message{
    color: rgb(228, 213, 12);
}


.sumir{
    display: none;
}


.container-logado{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.container-dashboard{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
}

.btn-dash{
    display: flex;
    background: #0B2D56;
    justify-content: space-around;
    gap: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 8px;

}

.btn-dash button{
    background-color: #ffffff;
    color: #0B2D56;
    font-weight: bold;
    width: 15vw;
    box-shadow: 1px 2px 7px rgb(49, 49, 49);
}

.bi{
    width: 100vw;
    height: 100vh;
}

#login-tela video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3;
}

/* ------------------------------------------------------------- */
/* MOBILE */

@media screen and (max-width: 600px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2vw;
        border-radius: 5px;
        align-items: center;
        background-color: var(--cor-container);
        height: 100vh;
        width: 100vw;
    }

    img{
        display: none;
    }

    
    .label-logo{
        display: none;
    }

    input{
        margin-bottom: 3vw;
        width: 100%;
        outline: none;
        height: 10vw;
        border-radius: 2px;
        border: none;
        color: var(--cor-container);
        font-weight: bold;
        font-size: 3vw;
    }

    label{
        font-size: 7vw;
    }

    .btn{
        margin-top: 4vw;
        width: 90vw;
        height: 10vw;
        font-size: 5vw;
    }
}

/* ------------------------------------------------------------- */