*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-bg: #0B2D56;
    --cor-texto: #ffffff;
    --cor-container: #075066;
    --cor-btn: #0294b8;
    --cor-exit-btn: orange;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-bg);
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

header{
    display: flex;
    width: 100vw;
    padding: 0.3vw 0;
    justify-content: space-around;
    align-items: center;
    top: 0.5vw;
    height: 2.5vw;
}

.menu-home{
    display: flex;
    flex-direction: column;
    margin-top: 15vw;
    width: 100vw;
    height: 100vh;
    align-items: center;
    gap: 3vw;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--cor-bg);
}


button{
    background-color: var(--cor-btn);
    color: #ffffff;
    padding: 0.3vw;
    margin: 1vw 0;
    border-radius: 0.3vw;
    border: none;
    width: 9vw;
    cursor: pointer;
    font-size: 0.7vw;
}


.exit{
    background-color: var(--cor-exit-btn);
    width: 5vw;
}

iframe{
    width: 99vw;
    height: 104vh;

}


/* ------------------------------------------------------------- */
/* MOBILE */

@media screen and (max-width: 600px) {

    header{
        display: flex;
        width: 100vw;
        padding: 6vw;
        justify-content: right;
        align-items: center;
        height: 3vw;
    }


    
    .exit{
    background-color: var(--cor-exit-btn);
    width: 30vw;
    height: 6vw;

    }

    button{
        width: 50vw;
        height: 10vw;
        font-size: 4vw;
    }
    
}