*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --cor-bg: #0294b8;
    --cor-texto: #ffffff;
    --cor-container: #075066;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0B2D56;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

header{
    display: flex;
    width: 100vw;
    padding: 2vw;
    justify-content: space-around;
    align-items: center;
    top: 0.5vw;
    height: 3vw;
}

.menu-home{
    display: flex;
    flex-direction: column;
    margin-top: 15vw;
    width: 100vw;
    height: 100vh;
    align-items: center;
    gap: 3vw;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #0B2D56;
}


button{
    background-color: #0294b8;
    color: #ffffff;
    padding: 0.5vw;
    border-radius: 0.3vw;
    border: none;
    width: 10vw;
    cursor: pointer;
}


.exit{
    background-color: orange;
    width: 5vw;
}

iframe{
    width: 99vw;
    height: 101vh;

}


/* ------------------------------------------------------------- */
/* MOBILE */

@media screen and (max-width: 600px) {
    header{
        display: flex;
        width: 100vw;
        padding: 7vw;
        justify-content: space-around;
        align-items: center;
        height: 3vw;
    }

    
    .exit{
    background-color: orange;
    width: 50vw;
    height: 10vw;
    }

    button{
        width: 50vw;
        height: 10vw;
    }
    
}